﻿@using Newtonsoft.Json

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the viewport width and initial-scale on mobile devices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bing -->
    <meta name="msvalidate.01" content="8DE88312D2FDF5FB6B9F1805078E976B" />
    <meta http-equiv="expires" content="0" />

    @RenderSection("header", required: false)
    <title>@ViewBag.Title - Nexus broker sample application</title>
    <meta name="description" content="@Html.GetPageDescription()">

    <!-- include the site stylesheet -->
    @*@Styles.Render("~/bundles/css")*@
    <link rel="stylesheet" href="~/css/site.min.css">
    @RenderSection("styles", required: false)

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#337ab7">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body style="padding-top: 121px; height: 100vh;" class="d-flex flex-column">
    <partial name="_Header" />

    @RenderBody()

    <partial name="_Footer" />

    <script>
        var cryptoCode = '@Html.GetActiveCryptoCode()';
    </script>

    @*@Scripts.Render("~/bundles/js")
        @Scripts.Render("~/bundles/template")*@

    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery.selectric.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/marketprices.js"></script>

    @RenderSection("scripts", required: false)

    <script>

        $(".submit select").change(function () {
            $(this).closest('form').trigger('submit');
        });
    </script>

    <script>
        (function () {
            $("select[name=crypto]").change(function () {
                var option = $(this).val();

                let url = window.location.href;
                let strippedCrypto = url.substr(0, url.lastIndexOf('/') + 1);
                let newUrl = strippedCrypto + option;

                console.log("Redirecting: " + newUrl);
                window.location.href = newUrl;

                //$(this).closest('form').trigger('submit');
            });
        })();
    </script>
</body>
</html>
